
 
      <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; open</span>
  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a router-link="/product" routerLinkActive="active" (click)="click()">Comics</a>
      <a router-link="/not-found" routerLinkActive="active" (click)="click()">Games</a>
      <a router-link="/not-found" routerLinkActive="active" (click)="click()">Novels</a>
      <a router-link="/not-found" routerLinkActive="active" (click)="click()">Fashion</a>
      <a router-link="/not-found" routerLinkActive="active" (click)="click()">Food</a>
    </div>
    







